.compact-layout {
    background-image: url('@renderer/assets/imgs/compact-layout.png');
    background-size: cover;
    width: 140px;
    height: 100px;
}

.appropriate-layout {
    background-image: url('@renderer/assets/imgs/appropriate-layout.png');
    background-size: cover;
    width: 140px;
    height: 100px;
}

.loose-layout {
    background-image: url('@renderer/assets/imgs/loose-layout.png');
    background-size: cover;
    width: 140px;
    height: 100px;
}