.clock {
    height: 100%;

    .plan-list {
        flex: 1;
        overflow-y: auto;
    }

    .record-description {
        flex: 1;

        .echarts {
            height: 300px;
        }

        .log-list {
            flex: 1;
            overflow-y: auto;
        }
    }
}