$pages-index-header-height: 30px;
$pages-index-header-padding: 10px;

.pages-index-header {
    padding: $pages-index-header-padding;
    height: $pages-index-header-height;
    border-radius: $system-border-radius-size $system-border-radius-size 0 0;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    border-bottom: none;

    .pages-index-header-drag {
        // 设置对应类名，使窗口可以拖动
        -webkit-app-region: drag;
        flex: 1;
    }
}

.pages-index {
    height: calc(100vh - $pages-index-header-height - 2 * $pages-index-header-padding - 2px);
    border: 1px solid #bfbfbf;
    border-top: none;
    border-radius: 0 0 $system-border-radius-size $system-border-radius-size;
    background-color: #fff;

    .pages-index-left {
        overflow-y: auto;
        border-radius: 0 0 0 $system-border-radius-size;

        .pages-index-left-header {
            width: 80px;
            height: 60px;
            cursor: pointer;

            .pages-index-logo {
                width: 28px;
                height: 24px;
                background-image: url('@renderer/assets/imgs/logo.png');
                background-size: cover;
            }

            .pages-index-logo-text {
                font-size: 12px;
                font-weight: 600;
                margin: 10px 0;
            }
        }
    }

    .pages-index-outlet {
        flex: 1;
        background: linear-gradient(to bottom right, #000, #FFF);
        border-radius: 0 0 5px 0;
        padding: 10px;
        overflow-y: auto;
    }
}