.pages-index {
    height: 100vh;

    .pages-index-left {
        height: 100%;
        overflow-y: auto;

        .pages-index-header {
            width: 80px;
            height: 60px;
            cursor: pointer;

            .pages-index-logo {
                width: 24px;
                height: 24px;
                background-image: url('@renderer/assets/imgs/logo.png');
                background-size: cover;
            }

            .pages-index-logo-text {
                font-size: 12px;
                font-weight: 600;
                margin: 10px 0;
            }
        }
    }

    .pages-index-outlet {
        flex: 1;
        background: linear-gradient(to bottom right, #E2EDFB, #F7F9FC);
        border-radius: 5px;
        padding: 10px;
        overflow-y: auto;
        margin-right: 10px;
    }
}